
.card-info {
  text-align: center;
  padding: 0.5rem;
}

.card-info h2 {
  font-size: 1rem;
  color: #333; 
  margin: 0.3rem 0;
}

.card-info p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

.card a {
  text-decoration: none;
  color: inherit;
}